.App {
  display: grid;
  grid-template-columns: 1fr 60% 20% 1fr;
  grid-template-rows: 170px 1fr;
  grid-template-areas: 
      "header header header header"
      ". main teamList .";
}
#standings {
  position: relative;
  grid-area: main;
  border-radius: 15px;
  background-color: #fff;
  margin: 1em 0.5em 1em;

}
#teamList {
  position: absolute;
  top: 0;
  border-radius: 15px;
  background-color: #fff;
}
#teamListArea {
  position: relative;
  grid-area: teamList;
  margin: 1em 0.5em 1em;
}


.nav-unit-enter, .nav-unit-appear {
  opacity: 0;
}

.nav-unit-enter-active, .nav-unit-appear-active {
  opacity: 1;
  transition: opacity 350ms;
}

.nav-unit-exit {
  opacity: 1;
}

.nav-unit-exit-active {
  opacity: 0;
  transition: opacity 350ms;
}